/*----------------------
   Projects style
-----------------------*/
.h-projects{
    padding: 3rem 0 2rem;
    background-color: $gray-5;
}
.h-prj-title{
    font-family: $secondary-font;
    font-size: 18px;
    color: $gray-1;
    margin: 0;
    line-height: 1;
    width: 100%;
    text-align: center;
}
.h-prj-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 150px;
    width: 80%;
    margin: 0 auto;
    .h-prj-logo{
        width: 16%;
    }
}
