/*----------------------
   Hero style
-----------------------*/
.h-hero{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-position: bottom center;
    background-size: cover;
    position: relative;

    video#bgvideo {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: url(assets/images/placeholder.png) no-repeat;
        background-size: cover;
    }

}

@media screen and (max-width: 768px) {
    #bgvideo {
        display: none;
    }
    .hero-logo{
        display: none;
    }
    .h-hero-content{
        padding-top: 36vh;
    }
}

.hero-logo{
    margin: 0 auto 2rem;
}

.yellow-divider{
    width:140px;
    height: 4px;
    display: block;
    margin: 1.5rem auto;
    background-color: $yellow;
}

.yellow-divider-left{
    width:140px;
    height: 4px;
    display: block;
    margin: 1.5rem auto;
    background-color: $yellow;
    @media only screen and (min-width: 400px){
        margin: 1.5rem auto 1.5rem 0;
    }
    &.mobile-left{
        margin: 1.5rem auto 1.5rem 0;
    }
}

.h-hero-content{
    padding-top: 24vh;
    text-align: center;
    h1{
        color: $white;
        font-size: 2em;
        line-height: 1.4;
        margin:0;
        text-shadow: 0 0 50px rgb(26, 83, 113);
        @media only screen and (min-width: 400px){
            font-size: 2.5em;
        }
    }
    h3{
        color: $white;
        font-size: 1.1em;
        line-height: 1.4;
        margin:0;

        font-family: $primary-font;
    }
    .h-cta-buttons{
        margin: 3rem 0;

        %cta-btn{
            display: inline-block;
            padding: .9rem 2rem;

            font-family: $secondary-font;

            font-size: 18px;
            text-transform: uppercase;
            line-height: 1;
            transition: all .2s;
            width: 100%;
            margin-top: 2rem;
            &:hover{
                transform: translateY(-.2rem);
                box-shadow: 0 5px 15px rgba(0,0,0,.2);
            }
        }
        .h-cta-left{
            @extend %cta-btn;

            color: $white;
            background-color: none;

            border: 2px solid $white;
            border-radius: 3px;

            &:hover{
                text-decoration: none;
                color: #074459;
                background-color: $yellow;
                border-color: $yellow;

            }
        }

        .h-cta-right{
            @extend %cta-btn;

            color: #074459;
            background-color: $white;

            border: 2px solid $white;
            border-radius: 3px;

            &:hover{
                text-decoration: none;
                background-color: $yellow;
                border-color: $yellow;
            }
        }
        @media only screen and (min-width: 980px){

            margin: 2rem 0 0;

            .h-cta-left{
                width: inherit;
            }
            .h-cta-right{
                width: inherit;
                margin-left: 2rem;
            }
        }
    }
}
