//*******************************************************
// CONFIG FILE
// Here we set the variables used throughout the project
//*******************************************************
// Palette : http://www.colourlovers.com/palette/50272/Happy_freshness


//-------------------
//  Colors
//-------------------
$background-color:  #FFFFFF;
$main-color:        #FFED00;
$yellow:            #FFED00;

// Grayscale
$gray-1:            #333333;
$gray-2:            #666666;
$gray-3:            #999999;
$gray-4:            #DDDDDD;
$gray-5:            #F6F6F6;

// Light variations
$white:             #FFFFFF;
$light-gray:        $gray-5;
$gray:              $gray-3;
$dark-gray:         $gray-1;

// Dark variations
$black:             #111111;
$text-color:        $gray-1;



//-------------------
//  Font config
//-------------------
@font-face {
	font-family: 'AvantGardEF';
	src: url('../assets/fonts/AvantGardEF-Bold.eot');
	src: url('../assets/fonts/AvantGardEF-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/AvantGardEF-Bold.woff') format('woff'),
		url('../assets/fonts/AvantGardEF-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

$primary-font: "Open Sans", Helvetica, Arial, sans-serif;
$secondary-font: "AvantGardEF", Helvetica, Arial, sans-serif;
