/*----------------------
   Footer style
-----------------------*/
.bg-footer{
	background-color: $gray-1;
	position: relative;
}

.footer-wrap{
	text-align: center;
}

.footer-top{
	padding: 2.75rem 0 1rem;
	.footer-logo{
		img{
			width: 208px;
		}
	}

	.social-media-links{
		display: block;
		margin-top: 24px;

		img{
			width:24px;
			height: 24px;
			margin: 8px 24px;
		}

	}
}

@media screen and (min-width:500px){

	.footer-wrap{
		text-align: left;
	}

	.footer-top{
		.social-media-links{
			display: inline;
			float: right;
			margin-top: 0;

			img{
				margin: 8px 0 8px 24px;
			}
		}
	}
}

.footer {
	font-size: 1rem;
	font-family: $secondary-font;
	font-weight: 500;
	color: $white;
	padding-bottom: 1.4rem;

	.menu{
		margin: 0;
		font-family: $primary-font;
	}
	.contatti{
		padding: 24px;
		span{
			line-height: 30px;
			display: block;
		}
		@media only screen and (min-width: 768px){
			margin-top: 0;
			margin-bottom: 20px;
		}
		@media screen and (min-width:500px){
			margin-top: 24px;
			padding: 0;
			padding-left: 48px;
		}
	}
}

.footer-links{
	ul{
		list-style: none;
		padding: 0;
		li{
			display: inline;
			margin: 0 12px;
			@media screen and (min-width:500px){
				margin: 0 24px 0 0;
			}
		}
	}

	a {
		color: $white;
		text-decoration: none;
		display: inline-block;
		padding-bottom: 6px;
		font-size: 14px;
		&:hover{
			text-decoration: underline;
		}
	}
}

.footer-copy{
	color: $white;
	text-align: center;
	font-family: $primary-font;
	font-size: .9rem;
	line-height: 30px;
	padding-bottom: 6px;
	display: block;
	width: 100%;
	font-size: 11px;

	@media only screen and (min-width: 768px){
		text-align: right;
	}

}
