/*----------------------
    Buttons
-----------------------*/
%btn,
%btn:visited {
    display: inline-block;
    text-decoration: none;
    color: $white;
    font-size: 16px;
    padding: .5em 1.5em;
    border: none;
    cursor: pointer;
    background: $main-color;
    text-align: center;
    transition: all 0.14s ease-in-out;

    &:hover, &:focus {
        color: $white;
        text-decoration: none;
        outline: none;
        background: shade($main-color, 40%);
    }
    &:active {
        top: 1px;
    }
}


.btn,
input.btn,
a.btn,
a.btn:visited {
    @extend %btn;
}

a.h-archive-btn{
    font-size: 1.2rem;
    font-family: $secondary-font;
    font-weight: 600;
    color: $gray-1;
    text-decoration: none;
    border-bottom: 3px solid $gray-1;
    margin: 30px 0 60px;;
    display: inline-block;
    line-height: 1.2;
    padding-top: 5px;
    padding-bottom: 0;
    transition: all .2s;

    &:hover{
        border-color: $yellow;
        padding-top: 0;
        padding-bottom: 5px;
    }

}
a.g-cta-btn{
    float: right;
    padding: .8rem 1.8rem;
    border: 3px solid $blue-marine;
    border-radius: 3px;
    line-height: 1;
    text-transform: uppercase;
    color: $blue-marine;
    font-family: $secondary-font;
    font-size: 18px;
    transition: all .2s ease;
    &:hover{
        background-color: $blue-marine;
        color: $white;
        text-decoration: none;
        transform: translateY(-.5rem);
        box-shadow: 0 5px 15px rgba(0,0,0,.2);
    }
}
