/*----------------------
   Hero style
-----------------------*/
.h-features{
    position: relative;
    padding: 6em 0;
    background: #1a5371;
    background: -moz-linear-gradient(top, #1a5371 0%, #276f9d 100%);
    background: -webkit-linear-gradient(top, #1a5371 0%,#276f9d 100%);
    background: linear-gradient(to bottom, #1a5371 0%,#276f9d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a5371', endColorstr='#276f9d',GradientType=0 );

    .hf-pattern{
        opacity: .06;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;

    }

    .hf-content{
        color: $white;
        h2{
            color: $white;
        }
        .hf-list{
            ul{
                list-style: none;
                padding: 0;
                li{
                    font-weight: 600;
                    padding-bottom: .5rem;
                }
            }
        }
    }

}
