/*----------------------
   Areas style
-----------------------*/
.h-areas{

}

.h-areas-title{
    padding: 60px 0 10px;
    h2{
        color: $gray-1;
        margin-bottom: 10px;
    }
}

a.h-area-single{
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: all .2s;
    border-radius: 3px;

    h4{
        color: $gray-1;
        line-height: 1.2;
        font-size: 1.2rem;
        transition: all .3s;
        margin-top: 1rem;
        padding: 9px 0 9px 9px;
        display: inline-block;
        border-bottom: 3px solid transparent;
        margin: 0;
    }

    .h-area-thumb{
        width:100%;
        height:160px;
        background-position: center;
        background-size: cover;

    }

    &:hover{
        margin-top: 10px;
        margin-bottom: 30px;
        box-shadow: 0 5px 20px rgba(0,0,0,.1);
        h4{
            padding-left: 12px;
            transition: all .2s;
            transition-delay: .2s;
            //border-bottom: 3px solid $yellow;
        }
    }
}

@media only screen and (min-width: 980px){

}
