/*----------------------
    Areas main
-----------------------*/
.a-news-hero{
    width: 100%;
    min-height: 75vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.a-news-hero-content{
    padding-top: 35vh;

    h1{
        color: $white;
        font-size: 2.5em;
        line-height: 1.4;
        margin:0;
        font-weight: 600;
        text-shadow: 0 0 50px rgb(26, 83, 113);
    }

    h3{
        color: $white;
        font-size: 1.1em;
        line-height: 1.4;
        margin:0;
        font-weight: 200;
        font-family: $primary-font;
    }

    .a-news-cat-tag{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 5rem;
        li{
            list-style: none;
            margin: 0 1rem 2rem 0;
            a{
                padding: .5rem 1.5rem;
                background-color: $white;
                border-radius:50px;
                box-shadow: 0 3px 6px rgba(0,0,0,.16);
                font-family: $secondary-font;
                color: $gray-2;
                transition: all .2s;
                &:hover{
                    text-decoration: none;
                    color: $gray-1;
                    background-color: $gray-4;
                }
            }
        }
    }
}

.a-news-content{
    padding-bottom: 5rem;
    background: $gray-5;
}

.a-news-articles-wrap{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .a-news-thumb-wrap{
        width: 48%;
        background: $white;
        margin-bottom: 2rem;
        border-radius: 3px;
        transition: all .2s;

        &:hover{
            margin-top: -.5rem;
            margin-bottom: 2.5rem;
            box-shadow: 0 5px 15px rgba(0,0,0,.15);
        }

        @media only screen and (max-width: 980px){
            width: 100%;
        }
    }

    .a-news-thumb{
        width: 100%;
        height: 260px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-bottom: 3px solid $yellow;
    }

    .a-news-thumb-content{
        padding: .7rem;

        .a-news-title{
            color: $gray-1;
            margin:0;
            padding-top: .5rem;
            a{
                color: $gray-1;
                &:hover{
                    text-decoration: none;
                }
            }
        }

        .a-news-excerpt{
            padding-top: .5rem;
            font-size: 14px;
        }

        .a-news-read-all{
            color: $gray-3;
            padding: 1rem 0;
            float: right;
        }
    }
}

.g-news-sidebar{
    margin-top: 5rem;
    section.widget{
        input[type="search"]{
            padding-top: 1rem;
            border-radius: 3px;
            border: 1px solid $gray-2;
        }

        input[type="submit"]{
            font-family: $secondary-font;
            border-radius: 3px;
            font-size: 18px;
            margin-top: 0;
        }
        ul{
            padding-left: 0;
            li{
                list-style: none;
                a{
                    color: $gray-2;

                }
            }
        }

    }
    .widgettitle{
        font-family: $secondary-font;
        border-bottom: 2px solid $yellow;
    }
}


/*----------------------
    Areas Single
-----------------------*/

.s-news-hero{
    width: 100%;
    min-height: 75vh;
    overflow: hidden;
    position: relative;
}

.s-news-hero-bg{
    background-position: center;
    background-size: 110% auto;
    position: absolute;
    width: 110%;
    height: 110%;
    filter: blur(4px);
}
.s-news-hero-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}

.s-news-bg{
    background: $gray-5;
}


.s-news-content{
    article{
        padding: 1.5rem 2rem 3rem;
        margin-top: -6rem;
        margin-bottom: 6rem;
        background: $white;
        position: relative;
    }

    header{
        h1{
            bottom: 0;
            color: $gray-1;
            font-size: 2.5em;
            line-height: 1.4;
            margin:0;
            font-weight: 600;
        }
    }

    aside{
        padding-left: 4rem;
        @media only screen and (max-width: 768px){
            padding-left: 1rem;
        }

        h3{
            color: $gray-1;
            margin-bottom: 10px;
        }
        .yellow-divider-left{
            margin-top: 0;
        }
    }

    ul{
        list-style: none;
        padding: 0;
        .active-area{
            font-weight: 800;
            text-decoration: underline;

            &::before{
                display: block;
                content: ">";
                float: left;
                margin-left: -15px;
            }
        }

        li {
            font-weight: 600;
            margin-bottom: .6rem;

            a{
                color: $gray-1;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
