/*----------------------
    Static Page
-----------------------*/
.static-hero{
    background-color: $gray-5;
}
.static-bg{
    background-color: $gray-5;
    padding-top: 140px;
}

.static-content{
    background-color: $white;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: -2rem -2rem 0 $gray-4;
}
